.image-toolbar {
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 200px;
}

.image-toolbar-inner {
  position: relative;
  background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625);
  background-repeat: repeat-x;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
  visibility: visible;
}

.image-toolbar-action-group {
  height: 44px;
  display: flex;
  flex-direction: row;
}

.divider {
  width: 1px;
  height: 30px;
  margin: 7px 2px;
  background-color: #666;
}