.icon-wrapper {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  width: 35px;
}

.icon-wrapper:hover {
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.1);
}

.icon-button {
  background: rgba(0,0,0,0);
  padding: 0px;
  border: none;
}
.icon-button:focus {
  outline: 0;
}