/* .miuffy-ul {
  margin-bottom: 0;
}

.miuffy-ol {
  margin-bottom: 0;
} */

.miuffy-editor-root {
  padding-top: 46px;
  padding-bottom: 30px;
  position: relative;
}

.miuffy-editor {
  max-width: 874px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 88px);
  margin-top: 10px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  z-index: -1;
  box-shadow: 0 2px 8px hsla(0,0%,45.1%,.08);
}

.miuffy-draft-editor {
  margin: 48px 60px 0 60px;
}

.article-title {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 32px;
}

.title-input {
  height: 50px;
  line-height: 50px;
  font-size: 32px;
  width: 100%;
  border: none;
  color: #262626;
  font-weight: 700;
}
/* 消除title输入时，边框border highlight */
.title-input:focus {
  outline: none !important;
}