.resizable-component {
  position: relative;
  user-select: none;
}

.bar-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  width: 5px;
  height: 20%;
  max-height: 100px;
  background-color: gray;
  border-radius: 10px;
}

.bar-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
}