.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 24px;
  position: absolute;
  top: 1000px;
  bottom: 1000px;
  opacity: 0;
}

.plus {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.dragger {
  width: 18px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.dragger:hover,
.plus:hover {
  background-color: #eee;
  cursor: pointer;
  transition: background 120ms ease-in 0s;
}
