.image-toolbar {
  position: absolute;
  display: none;
  visibility: hidden;
  z-index: 1;
}

.image-toolbar-inner {
  position: relative;
  background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625);
  background-repeat: repeat-x;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
  visibility: visible;
}

.image-toolbar-action-group {
  height: 44px;
  display: flex;
  flex-direction: row;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #262625;

  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-10px);
}