/* .miuffy-ul {
  margin-bottom: 0;
}

.miuffy-ol {
  margin-bottom: 0;
} */

.miuffy-editor-root {
  padding-top: 46px;
  padding-bottom: 30px;
  position: relative;
  font-family: 'Tahoma For Number', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.miuffy-editor {
  max-width: 874px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 88px);
  margin-top: 10px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  z-index: -1;
  box-shadow: 0 2px 8px hsla(0,0%,45.1%,.08);
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.miuffy-paragraph {
  min-height: 24px;
  line-height: 24px;
  white-space: normal;
  margin: 0;
  letter-spacing: 0.05em;
}

.miuffy-blockquote {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 1em;
  margin-left: 0px;
  border-left: 3px solid #eee;
  opacity: 0.6;
}

.miuffy-draft-editor {
  margin: 48px 60px 0 60px;
}
